name: Build Docs

permissions:
  contents: read

on:
  # GitHub has started calling new repo's first branch "main" https://github.com/github/renaming
  # The cookiecutter uses the "--initial-branch" flag when it runs git-init
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
jobs:
  build_docs:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Additional info about the build
        shell: bash
        run: |
          uname -a
          df -h
          ulimit -a

      - name: Setup Pandoc
        uses: r-lib/actions/setup-pandoc@v2
        with:
          pandoc-version: '2.2'

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: pip

      - name: Set up Julia 1.12
        uses: julia-actions/setup-julia@v2
        with:
          version: 1.12

      - name: Set up environment
        shell: bash
        run: |
          export PYTHON_JULIAPKG_EXE=$(which julia)
          export JULIA_PROJECT=.
          export PYTHON_JULIAPKG_PROJECT=.

      - name: Install package
        shell: bash
        run: |
          python -m pip install .[docs]
        
      - name: Load Julia packages from cache
        id: julia-cache
        uses: julia-actions/cache@v2

      - name: Install Julia dependencies
        shell: bash
        run: |
          python -c "
          import ase_uhal
          ase_uhal.install_ace_deps()"

      - name: Build Docs
        run: |
          cd docs
          make html SPHINXOPTS="-j auto"
          cd ..

      - uses: actions/upload-artifact@v5
        with:
          path: docs/_build/html
          name: documentation

      - name: Deploy to GitHub Pages
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_dir: docs/_build/html
          github_token: ${{ secrets.GITHUB_TOKEN }}
