name: Build Docs

permissions:
  contents: read

on:
  # GitHub has started calling new repo's first branch "main" https://github.com/github/renaming
  # The cookiecutter uses the "--initial-branch" flag when it runs git-init
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  test:
    name: Test on ${{ matrix.os }}, Python ${{ matrix.python-version }}, Julia ${{ matrix.julia-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 1
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.12"]
        julia-version: ["1.12"]

    steps:
      - uses: actions/checkout@v4

      - name: Additional info about the build
        shell: bash
        run: |
          uname -a
          df -h
          ulimit -a

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Set up Julia ${{ matrix.julia-version }}
        uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.julia-version}}

      - name: Set up environment
        shell: bash
        run: |
          export PYTHON_JULIAPKG_EXE=$(which julia)
          export JULIA_PROJECT=.
          export PYTHON_JULIAPKG_PROJECT=.

      - name: Install package
        shell: bash
        run: |
          python -m pip install .[docs]
        
      - name: Load Julia packages from cache
        id: julia-cache
        uses: julia-actions/cache@v2

      - name: Install Julia dependencies
        shell: bash
        run: |
          python -c "
          import ase_uhal
          ase_uhal.install_ace_deps()"

      - name: Build Docs
        run: |
          cd docs
          make html SPHINXOPTS="-j auto"
          cd ..

      - uses: actions/upload-artifact@v5
        with:
          path: docs/_build/html
          name: documentation

      - name: Deploy to GitHub Pages
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
